
.panel-background{
	background:#333333 ;
	border-color: #333333;
	color: #ffffff ;
}

.breadcrumb{
	background: #333333;
	color:#ffffff;
	margin-top: 60px;
	margin-bottom: 15px;
	text-align: left;
}

/*Breadcrumb*/
.breadcrumb a{
	color:#333333;
}

.dash-box{
	border-color: #333333; 
}


#main{
	margin-left: 51px;
}

/*Table Margin*/
.app{
	padding-bottom: 10px;
	margin-top: 80px;
	margin-bottom: 15px;
}

.table-color-bg{
	background-color: #99583D !important;
	border-color: #333333 !important;
	color: #ffffff !important;
}

ul
{
list-style-type: none;
}
.imgwrapper {
   width: 30%;
}
.row .col-xs-2 .col-xs-6{
	display:inline-block; 
	float: none;
}